{% extends "index.html" %}

{% block container %}

<div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <div class="row">
              <div class='col-5 px-md-1 '>
                <button type="button" class="btn btn-primary" onclick="createNewRoom()">Create new room</button>
              </div>
              <div class='col-3 px-md-0 '>
                <button type="button" class="btn btn-primary" onclick="quitGame()">Quit game</button>
              </div>
            </div>

            <div class="row mt-3">
              <table class='table' id = "rooms_table">
                <thead class="thead-dark">
                  <tr>
                    <th>Room Id</th>
                    <th>Numer of Players</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>  
            </div>
            <div class="span12">

                <h1 class="text-center" id='counter' style=font-size:300px></h1>
              </div>
          </div>
          <div class='col-6' style="min-width: 600px;">
              <div style="position: absolute; top: 40%; left:20%;">
                  <h1 id='gameres' style=font-size:100px></h1>
              </div>
            <canvas class="position-relative" id="canvas" width="600", height="600"></canvas>
          </div> 
          <div class="col-2">
            <div class="row">
            <table class="table">
              <thead >
                <tr>
                  <th>Player</th>
                  <th>Color</th>
                </tr>
              </thead>
              <tbody class="player_table">
              </tbody>
            </table>
          </div>
          <div class="row mt-3">
              <div class="span12">
                  <h1 class="text-center" id='gameres'></h1>
                </div>
          </div>
          </div>
        </div>
</div>

{% load static %}
  <script src="{% static 'config/config.js' %}"></script>
  <script src="{% static 'js/draw.js' %}"></script>
  <script src="{% static 'colyseus/colyseus.js' %}"></script>
  <script src="{% static 'js/game.js' %}"></script>
{% endblock %}